<mat-card>
    <mat-card-header>
      <mat-card-title class="text-dark pt-3 pb-3 border-bottom border-light">Create Recipe</mat-card-title>
    </mat-card-header>
    <div *ngIf="selectedImageFile"  id="post-preview"class="mb-5">
      <img id="post-preview-image" />
    </div>
    <div class="recipe-text">
      <textarea #commentInput placeholder="Recipe..."></textarea>
    </div>
    <div class="allergen-text">
        <textarea #allergensInput placeholder="Allergens..."></textarea>
      </div>
    <mat-card-actions align="end" class="p-3">
      <button mat-button color="warn">
        <label for="photo-upload">
          <input
            #photoSelector
            (change)="onPhotoSelected(photoSelector)"
            id="photo-upload"
            type="file"
            accept="image/*"
          />
          <mat-icon>insert_photo</mat-icon>
        </label>
      </button>
      <button (click)="onPostClick(commentInput,allergensInput)" mat-flat-button color="warn">Post</button>
    </mat-card-actions>
  </mat-card>
  