.recipe-image{
height: 500px;
width: 100%;
position: relative;

& .home-load-text{
    position: absolute;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    color: white;
    font-size: 3em;
}
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }